<p-card>
    <div style="
    display:flex;
    justify-content:space-between;
    margin-bottom:2rem;
    ">
        <h1 style="color:#34d399">
            <i class="pi pi-server"></i>
            Sensors
        </h1>
    </div>

    <p-table [value]="sensors" [paginator]="true" [rows]="10" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Model</th>
                <th>Type</th>
                <th>Location</th>
                <th>Status</th>
                <th>Last Measurement</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sensor>
            <tr>
                <td>
                    {{sensor.id}}
                </td>
                <td>
                    <strong>
                        {{sensor.name}}
                    </strong>
                </td>
                <td>
                    {{sensor.model}}
                </td>
                <td>
                    {{sensor.type}}
                </td>
                <td>
                    {{sensor.location}}
                </td>
                <td>
                    <p-tag 
                        [value]="sensor.online ? 'ONLINE' : 'OFFLINE'"
                        [severity]="sensor.online ? 'success' : 'danger'">
                    </p-tag>
                </td>
                <td>
                    {{ sensor.lastMeasurement | date:'dd/MM/yyyy HH:mm:ss' }}
                </td>
                <td>
                    <p-button icon="pi pi-chart-line" severity="info" size="small" [rounded]="true"
                        (onClick)="selectSensor(sensor)">
                    </p-button>
                    <p-button icon="pi pi-pencil" severity="warn" size="small" [rounded]="true"
                        (onClick)="editSensor(sensor)">
                    </p-button>
                    <p-button icon="pi pi-trash" severity="danger" size="small" [rounded]="true"
                        (onClick)="deleteSensor(sensor)">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>